.about {
  font-weight: 700;
  font-size: 48px;
  font-family: "ClashDisplay-Bold";
  padding: 40px 24px 24px 24px;
  color: #120f07;
  margin: 0 auto;
  width: 1728px;
}
.part1 {
  width: 1728px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.pic {
  max-width: 820px;
  width: 100%;
}

.about-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  font-family: "ClashDisplay-Medium";
  color: #120f07;
  padding-bottom: 16px;
  max-width: 740px;
  width: 100%;
}
.about-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-family: "Inter";
  font-style: normal;
  color: #120f07;
  max-width: 740px;
  width: 100%;
}
.about-mb {
  margin-bottom: 80px;
}
.about-img {
  width: 820px;
  height: 580px;
  border-radius: 32px;
}
.part2 {
  width: 1680px;
  background-color: #ffe089;
  border-radius: 32px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-around;
}
.part2-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 16px;
}
.part2-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  font-family: "ClashDisplay-Regular";
  color: #120f07;
  padding-bottom: 40px;
}
.part2-block {
  width: 496px;
  padding-top: 64px;
  padding-left: 48px;
}
@media screen and (max-width: 414px) {
  .about {
    font-size: 34px;
    line-height: 36px;
    margin: 0;
  }
  .part1 {
    display: block;
  }
  .pic {
    max-width: 360px;
  }
  .about-title {
    max-width: 328px;
    font-size: 24px;
    line-height: 28px;
  }
  .about-description {
    max-width: 328px;
    font-size: 14px;
    line-height: 22px;
  }
  .about-img {
    width: 328px;
    height: 250px;
  }
  .about-mb {
    margin-bottom: 16px;
  }
  .pic:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }
}
