.hero-section {
  width: 1680px;
  border-radius: 32px;
  background-color: #ffe089;
  padding: 48px;
  margin: 24px auto 60px;
  border: none;
}

.hero-section-title {
  font-weight: 700;
  font-size: 88px;
  line-height: 80px;
  font-family: "ClashDisplay-Regular";
  max-width: 927px;
  width: 100%;
}
.hero-section-description {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding-top: 24px;
  margin-bottom: 100px;
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  max-width: 594px;
  width: 100%;
}

.hero-section-crumbs {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  gap: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.hero-section-crumb {
  color: #120f07;
  border: 1.5px solid #120f07;
  border-radius: 50px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  font-family: "Inter";
  font-style: normal;
}
.products-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin: 0 auto;
  width: 1680px;
  margin-bottom: 40px;
  font-family: "ClashDisplay-Regular";
}
.products-wrap {
  background-color: #f8f7f4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1728px;
  margin: 0 auto;
  gap: 16px;
}

.games {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin: 0 auto;
  width: 600px;
  color: #120f07;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 80px;
  font-family: "ClashDisplay-Regular";
}
.description-games {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 0 auto;
  width: 600px;
  color: #120f07;
  text-align: center;
  margin-bottom: 80px;
  font-family: "Inter";
  font-style: normal;
}
.about-games-imgs-wrap {
  width: 1728px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 16px;
  margin-bottom: 104px;
  justify-content: center;
}
.example-img {
  width: 832px;
  height: 620px;
  border-radius: 32px;
}

@media screen and (max-width: 414px) {
  .hero-section {
    max-width: 328px;
    padding: 20px;
  }
  .hero-section-title {
    font-size: 34px;
    line-height: 36px;
    margin-bottom: 12px;
  }
  .hero-section-description {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 64px;
  }
  .hero-section-crumb {
    font-size: 14px;
    line-height: 26px;
  }
  .hero-section-crumbs {
    gap: 12px;
  }
  .products-wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
  .products-title {
    padding-left: 16px;
    max-width: 173px;
    margin: 0;
    margin-bottom: 24px;
  }
  .games {
    width: 312px;
    font-size: 34px;
    line-height: 36px;
  }
  .description-games {
    width: 328px;
    font-size: 18px;
    line-height: 28px;
  }
  .description-games-mb {
    margin-bottom: 24px;
  }
  .example-img {
    width: 328px;
    height: 250px;
  }
  .about-games-imgs-wrap {
    width: 328px;
    margin-bottom: 88px;
  }
  .description-games-mb {
    margin-bottom: 80px;
  }
}
