.hero-section {
  width: 1680px;
  border-radius: 32px;
  background-color: #ffe089;
  padding: 48px;
  margin: 24px auto 60px;
  border: none;
}
.hero-section-mobile {
  display: none;
}
.hero-section-title {
  font-weight: 700;
  font-size: 88px;
  line-height: 80px;
  font-family: "ClashDisplay-Regular";
  max-width: 927px;
  width: 100%;
}
.hero-section-description {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding-top: 24px;
  margin-bottom: 100px;
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  max-width: 594px;
  width: 100%;
}

.hero-section-crumbs {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  gap: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero-section-crumbs-mobile {
  display: none;
}
.hero-section-crumb {
  color: #120f07;
  border: 1.5px solid #120f07;
  border-radius: 50px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  font-family: "Inter";
  font-style: normal;
}
.products-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin: 0 auto;
  width: 1680px;
  margin-bottom: 40px;
  font-family: "ClashDisplay-Regular";
}
.products-wrap {
  background-color: #f8f7f4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1728px;
  margin: 0 auto;
  gap: 16px;
}

.games {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin: 0 auto;
  width: 600px;
  color: #120f07;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 80px;
  font-family: "ClashDisplay-Regular";
}
.description-games {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 0 auto;
  width: 600px;
  color: #120f07;
  text-align: center;
  margin-bottom: 80px;
  font-family: "Inter";
  font-style: normal;
}
.about-games-imgs-wrap {
  width: 1728px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 16px;
  margin-bottom: 104px;
  justify-content: center;
}
.example-img {
  width: 832px;
  height: 620px;
  border-radius: 32px;
}

@media screen and (max-width: 414px) {
  .hero-section {
    flex-wrap: wrap;
  }
  .hero-section-crumbs-mobile {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    gap: 40px;
    display: flex;
    align-items: center;
  }
  .hero-section-crumbs {
    display: none;
  }
  .hero-section-mobile {
    width: 328px;
    border-radius: 32px;
    background-color: #ffe089;
    padding: 16px;
    margin: 0 auto;
  }
  .hero-section-title-mobile {
    font-weight: 700;
    font-size: 34px;
    line-height: 36px;
    font-family: "ClashDisplay-Regular";
    max-width: 288px;
    width: 100%;
    margin-bottom: 12px;
  }
  .hero-section-description-mobile {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 64px;
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    max-width: 288px;
    width: 100%;
  }
}
