.popup-background {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.2;
}
.popup {
  position: fixed;
  z-index: 2;
  background-color: #f8f7f4;
  width: 630px;
  top: 0;
  right: 0;
  padding: 32px;
}
.popup-title {
  width: 566px;
  margin: 0 auto 32px;
  display: flex;
  justify-content: space-between;
}
.popup-your {
  font-weight: 700;
  font-size: 48px;
  font-family: "ClashDisplay-Bold";
}
.popup-close {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  font-family: "Inter";
  font-style: normal;
  text-decoration: underline;
}
.popup-products {
  width: 566px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.date-wrapper {
  width: 566px;
  padding-bottom: 32px;
}
.date-wrapper-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter";
  font-style: normal;
}
.date-wrapper-choose-date {
  display: flex;
  gap: 12px;
  align-items: center;
}
.popup-date {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  font-family: "ClashDisplay-Bold";
}
.popup-choose {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
  text-decoration: underline;
}
.chekout-information {
  width: 566px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.chekout-wrap {
  border-bottom: 1px solid #120f071a;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 14px 0;
}
.chekout-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-family: "Inter";
  font-style: normal;
}
.chekout-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter";
  font-style: normal;
}
.chekout-wrap-bold {
  border-bottom: none;
}
.chekout-title-bold {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-family: "ClashDisplay-Medium";
}

.products-wrap {
  width: 1728px;
  height: 2098px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.crumbs {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #120f07;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
}
.main-img {
  width: 820px;
  height: 1214px;
  background-color: #e9e1ce4d;
  border-radius: 32px;
}

.text-wrap {
  width: 820px;
  background-color: #f8f7f4;
  padding-top: 60px;
  padding-left: 40px;
}

.Gigantic {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  font-family: "ClashDisplay-Bold";
  padding-bottom: 24px;
  display: block;
}

.crumb {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  gap: 8px;
  border: 1px solid #120f07;
  border-radius: 50px;
  font-family: "Inter";
  font-style: normal;
  padding: 6px 14px;
  display: flex;
  align-items: center;
}
.main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
  padding-bottom: 24px;
}
.controlsWrap {
  display: flex;
  margin-bottom: 24px;
}
.controlsWrap-date {
  background-color: #ffffff;
  width: 280px;
  height: 138px;
  border: 1px solid #120f07;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.your {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
  padding-top: 16px;
  padding-left: 16px;
}
.date {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter";
  font-style: normal;
  padding-left: 16px;
}
.time {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
  padding-left: 16px;
}
.choose-another {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  font-family: "Inter";
  font-style: normal;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  text-decoration: underline;
}
.controlsWrap-price {
  background-color: #ffffff;
  width: 280px;
  height: 138px;
  border: 1px solid #120f07;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  border-left: none;
}
.price {
  width: 248px;
  height: 32px;
  margin-top: 16px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.rental {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
  margin-bottom: 2px;
}
.amount {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-family: "ClashDisplay-Regular";
}

.example-img {
  width: 820px;
  height: 820px;
  border-radius: 32px;
  margin-bottom: 64px;
}

.warning {
  width: 560px;
  height: 76px;
  background-color: #e9e1ce4d;
  border-radius: 16px;
  border: 1px solid #120f07;
  margin-bottom: 40px;
  padding: 16px;
  display: flex;
}

.warning-text {
  color: #120f07;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
  padding-left: 12px;
}

.underline {
  text-decoration: underline;
}

.characteristics {
  width: 560px;
  height: 48px;
  border-top: 1px solid #120f07;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characteristic {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
}
.meaning {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
}
.other-games {
  width: 1728px;
  margin: 0 auto 40px;
}
.Other-games-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  font-family: "ClashDisplay-Regular";
  color: #120f07;
  padding-bottom: 24px;
}
.other-games-products {
  background-color: #f8f7f4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1728px;
  margin: 0 auto;
  gap: 16px;
}
.products-slider {
  display: none;
}

.products-slider-img {
  max-width: 252px;
  width: 100%;
  height: 330px;
  border-radius: 24px;
}
@media screen and (max-width: 414px) {
  .popup {
    width: 414px;
    left: 0;
    padding: 16px 24px;
  }
  .popup-title {
    width: 382px;
  }
  .popup-your {
    font-size: 34px;
    line-height: 36px;
  }
  .popup-products {
    width: 366px;
  }
  .date-wrapper {
    width: 100%;
  }
  .date-wrapper-title {
    font-size: 14px;
    line-height: 22px;
  }
  .popup-date {
    font-size: 16px;
    line-height: 26px;
    font-family: "Inter";
    font-style: normal;
  }
  .products-wrap {
    width: 414px;
    height: 362px;
    overflow: hidden;
    position: relative;
  }
  .products-slider {
    display: flex;
    position: relative;
    left: -180px;
  }
  .text-wrap {
    padding-top: 24px;
    padding-left: 16px;
    display: flex;
    flex-wrap: wrap;
    width: 414px;
  }
  .text-wrap-title {
    font-size: 34px;
    line-height: 36px;
  }
  .other-games {
    padding-top: 24px;
    padding-left: 16px;
    display: flex;
    flex-wrap: wrap;
    width: 414px;
  }
  .Other-games-title {
    font-size: 34px;
    line-height: 36px;
  }
}
