body {
  background-color: #f8f7f4;
}
.jopa {
  display: flex;
  justify-content: space-between;
  max-width: 1758px;
  width: 100%;
  margin: 0 auto 24px;
  padding-right: 23px;
  padding-left: 24px;
}
.derevo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-family: "ClashDisplay-Medium";
  display: flex;
  align-items: center;
}
.knopka {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #d84840;
  border-radius: 8px;
  height: 36px;
  width: 142px;
  background-color: #ffcbc8;
  border: none;
}
.kroshki {
  display: flex;
  gap: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #120f07;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
}
.input {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #120f07;
  border-radius: 12px;
  border: none;
  font-family: "Inter";
  font-style: normal;
}
.input-wrapper {
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid #120f07;
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
}
.nolik {
  border: 1px solid #120f07;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
}
.nolik-obertka {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 75px;
}
.popup-background {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.2;
}
.popup {
  position: fixed;
  z-index: 2;
  background-color: #f8f7f4;
  width: 630px;
  top: 0;
  right: 0;
  padding: 32px;
}
.popup-title {
  width: 566px;
  margin: 0 auto 32px;
  display: flex;
  justify-content: space-between;
}
.popup-your {
  font-weight: 700;
  font-size: 48px;
  font-family: "ClashDisplay-Medium";
}
.popup-close {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  font-family: "Inter";
  font-style: normal;
  text-decoration: underline;
}
.popup-products {
  width: 566px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.popup-product {
  width: 566px;
  display: flex;
  gap: 24px;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 16px;
}
.product-img {
  width: 120px;
  height: 120px;
  border-radius: 32px;
}
.product-info {
  display: flex;
  flex-direction: column;
  height: 78px;
  justify-content: space-between;
  padding-top: 21px;
}
.product-title {
  width: 390px;
  display: flex;
}
.product-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter";
  font-style: normal;
  width: 276px;
}
.product-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter";
  font-style: normal;
}
.product-delete {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  font-family: "Inter";
  font-style: normal;
  text-decoration: underline;
}
.date-wrapper {
  width: 566px;
  padding-bottom: 32px;
}
.date-wrapper-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter";
  font-style: normal;
}
.date-wrapper-choose-date {
  display: flex;
  gap: 12px;
  align-items: center;
}
.popup-date {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  font-family: "ClashDisplay-Bold";
}
.popup-choose {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
  text-decoration: underline;
}
.chekout-information {
  width: 566px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.chekout-wrap {
  border-bottom: 1px solid #120f071a;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 14px 0;
}
.chekout-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-family: "Inter";
  font-style: normal;
}
.chekout-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter";
  font-style: normal;
}
.chekout-wrap-bold {
  border-bottom: none;
}
.chekout-title-bold {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-family: "ClashDisplay-Medium";
}
.button {
  width: 566px;
  height: 50px;
  background-color: #120f07;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  margin-bottom: 32px;
}
.blok1 {
  width: 1728px;
  height: 2098px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.kartinka1-blok1 {
  width: 820px;
  height: 1214px;
  background-color: #e9e1ce4d;
  border-radius: 32px;
}
.text-kartinki {
  padding: 24px 32px;
}
.teksyovaya-chast {
  width: 820px;
  background-color: #f8f7f4;
  padding-top: 60px;
  padding-left: 40px;
}
.Gigantic {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  font-family: "ClashDisplay-Bold";
  padding-bottom: 24px;
  display: block;
}

.kroshka {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  gap: 8px;
  border: 1px solid #120f07;
  border-radius: 50px;
  font-family: "Inter";
  font-style: normal;
  padding: 6px 14px;
  display: flex;
  align-items: center;
}
.osnovnoi-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
  padding-bottom: 24px;
}
.tablichki {
  display: flex;
  margin-bottom: 24px;
}
.tablichka1 {
  background-color: #ffffff;
  width: 280px;
  height: 138px;
  border: 1px solid #120f07;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.your {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
  padding-top: 16px;
  padding-left: 16px;
}
.date {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter";
  font-style: normal;
  padding-left: 16px;
}
.time {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
  padding-left: 16px;
}
.vibery-drygoe {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  font-family: "Inter";
  font-style: normal;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  text-decoration: underline;
}
.tablichka2 {
  background-color: #ffffff;
  width: 280px;
  height: 138px;
  border: 1px solid #120f07;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  border-left: none;
}
.price {
  width: 248px;
  height: 32px;
  padding-top: 16px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Rental {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
  margin-bottom: 2px;
}
.amount {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  font-family: "ClashDisplay-Regular";
}
.knopka-nadpis {
  background-color: #120f07;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
  width: 248px;
  height: 50px;
  border-radius: 12px;
  margin: 24px 16px 16px 16px;
}
.kartinka2-blok1 {
  width: 820px;
  height: 820px;
  border-radius: 32px;
  margin-bottom: 64px;
}
.warning {
  width: 560px;
  height: 76px;
  background-color: #e9e1ce4d;
  border-radius: 16px;
  border: 1px solid #120f07;
  margin-bottom: 40px;
  padding: 16px;
  display: flex;
}
.warning-text {
  color: #120f07;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
  padding-left: 12px;
}
.podcherknyt {
  text-decoration: underline;
}
.characteristic1 {
  width: 560px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.characteristics {
  width: 560px;
  height: 48px;
  border: 1px solid #120f07;
  border-right: none;
  border-left: none;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.characteristic5 {
  width: 560px;
  height: 48px;
  border-top: 1px solid #120f07;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.characteristic {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
}
.meaning {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: "Inter";
  font-style: normal;
}
.blok2 {
  width: 1728px;
  margin: 0 auto 40px;
}
.Other-games {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  font-family: "ClashDisplay-Regular";
  color: #120f07;
  padding-bottom: 24px;
}
.blok-kartinok1 {
  background-color: #f8f7f4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1728px;
  margin: 0 auto;
  gap: 16px;
}
.domik-kartinki1 {
  background-color: #e9e1ce4d;
  border-radius: 32px;
  width: 549px;
}
.kartinta-1blok {
  width: 549px;
  padding-bottom: 24px;
  background-color: #e9e1ce4d;
  border-radius: 32px;
}
.nazvanie-kartinok1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding-left: 32px;
  font-family: "Inter";
  font-style: normal;
}
.price-1blok {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  padding-left: 32px;
  padding-bottom: 24px;
  font-family: "Inter";
  font-style: normal;
}
