.header {
  display: flex;
  justify-content: space-between;
  max-width: 1758px;
  width: 100%;
  margin: 0 auto 24px;
  border-bottom: 1px solid #e5e3db;
  padding: 12px 24px;
}

.header-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-family: "ClashDisplay-Medium";
  display: flex;
  align-items: center;
}

.header-crumbs {
  display: flex;
  gap: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #120f07;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
}
.header-crumbs-mobile {
  display: none;
}
.input {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #120f07;
  border-radius: 12px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  background-color: #ffffff;
  outline: none;
}

.input-wrapper {
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid #120f07;
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
}

.crumbs-element-text {
  border: 1px solid #120f07;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Inter";
  font-style: normal;
}

.crumbs-element-border {
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 75px;
}
@media screen and (max-width: 414px) {
  .header {
    flex-wrap: wrap;
    gap: 16px;
  }
  .header-crumbs-mobile {
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #120f07;
    align-items: center;
    font-family: "Inter";
    font-style: normal;
  }
  .header-crumbs {
    display: none;
  }
}
